@import "tailwindcss";

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 45deg;
  inherits: false;
}

:root {
  --background: hsl(40, 0%, 85%);
  --foreground: #171717;
  --wrapper-border: #171717;
  --secondary: hsl(0, 0%, 100%, 0.4);
  /* --accent: hsl(19, 80%, 30%); */
  --accent: hsl(160, 100%, 37%);
  --highlightedCard: hsl(0, 0%, 0%, 0.9);
  --invert-font: hsl(0, 0%, 100%, 0.8);

  --concave1: inset 4px 4px 4px rgba(0, 0, 0, 0.17);
  --concave2: inset -4px -4px 4px rgba(255, 255, 255, 0.4);
  --concaveRidge1: -4px -4px 4px rgba(255, 255, 255, 0.4);
  --concaveRidge2: 4px 4px 4px rgba(0, 0, 0, 0.2);
  --convex1: inset -4px -4px 4px rgba(0, 0, 0, 0.17);
  --convex2: inset 4px 4px 4px rgba(255, 255, 255, 0.4);

  --muted-text: hsl(0, 0%, 9%, 0.7);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted-text);
  --color-accent: var(--accent);
  --color-wrapper-border: var(--wrapper-border);

  --color-highlightedCard: var(--highlightedCard);
  --color-invertFont: var(--invert-font);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-gradient-rotate: gradient-rotate 50s linear infinite;
}

.dark {
  --background: hsl(210, 60%, 7%);
  --foreground: hsl(0, 0%, 100%, 0.81);
  --wrapper-border: hsl(0, 0%, 100%, 0.6);
  --secondary: hsl(0, 100%, 100%, 0.035);
  --accent: hsl(160, 100%, 37%, 0.7);
  --highlightedCard: hsl(0, 0%, 100%, 0.7);
  --invert-font: hsl(0, 0%, 0%);

  --concave1: inset 4px 4px 4px rgba(0, 0, 0, 0.4);
  --concave2: inset -4px -4px 4px rgba(255, 255, 255, 0.1);
  --concaveRidge1: -4px -4px 4px rgba(255, 255, 255, 0.1);
  --concaveRidge2: 4px 4px 4px rgba(0, 0, 0, 0.4);
  --convex1: inset -4px -4px 4px rgba(0, 0, 0, 0.4);
  --convex2: inset 4px 4px 4px rgba(255, 255, 255, 0.1);

  --muted-text: #ededed90;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.concave {
  box-shadow: var(--concave1), var(--concave2);
}
.convex {
  box-shadow: var(--convex1), var(--convex2), var(--concaveRidge2);
}
.concaveRidge {
  box-shadow:
    var(--concave1), var(--concave2), var(--concaveRidge1), var(--concaveRidge2);
}

.headline-font {
  font-family:
    "Iowan Old Style", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.footerBg {
  background-image: linear-gradient(var(--color-secondary), transparent 50%);
}

.radialMask {
  mask-image: radial-gradient(circle, transparent 20%, black);
}

@keyframes gradient-rotate {
  0% {
    --gradient-angle: 90deg;
  }
  100% {
    --gradient-angle: 450deg;
  }
}
