@import "tailwindcss";

:root {
  --background: hsl(39, 43%, 79%);
  --foreground: #171717;
  --secondary: hsl(0, 0%, 100%, 0.65);

  --concave1: inset 0 4px 4px rgba(0, 0, 0, 0.1);
  --concave2: inset 0 -4px 4px rgba(255, 255, 255, 0.7);
  --concaveRidge1: 0 -4px 4px rgba(255, 255, 255, 0.69);
  --concaveRidge2: 0 4px 4px rgba(0, 0, 0, 0.1);

  --convex1: inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  --convex2: inset 0 4px 4px rgba(255, 255, 255, 0.7);

  --muted-text: #ededed86;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted-text);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: hsl(211, 50%, 5%);
  --foreground: hsl(0, 0%, 100%, 0.81);
  --secondary: hsl(0, 100%, 100%, 0.1);

  --concave1: inset 0 4px 4px rgba(0, 0, 0, 1);
  --concave2: inset 0 -4px 4px rgba(255, 255, 255, 0.1);
  --concaveRidge1: 0 -4px 4px rgba(255, 255, 255, 0.1);
  --concaveRidge2: 0 4px 4px rgba(0, 0, 0, 1);

  --convex1: inset 0 -4px 4px rgba(0, 0, 0, 1);
  --convex2: inset 0 4px 4px rgba(255, 255, 255, 0.1);

  --muted-text: #ededed90;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.concave {
  box-shadow: var(--concave1), var(--concave2);
}
.convex {
  box-shadow: var(--convex1), var(--convex2);
}
.concaveRidge {
  box-shadow:
    var(--concave1), var(--concave2), var(--concaveRidge1), var(--concaveRidge2);
}
